<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Webpage 2</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <style>
    
    </style>
    </head>
    <body>
    
    
    <div class="columns1">
      <ul class="price">
        <li><h3>PACKAGE 1</h3> </li>
        <li>Hot Chili Chicken</li><hr>
        <li>Texas BBQ Chicken</li><hr>
        <li>Sausage Supreme</li>
        <li><h2>2500LKR</h2></li>
        <li><a href="#" class="button">Buy now ✔</a></li>
      </ul>
    </div>
    
    <div class="columns2">
      <ul class="price">
        <li><h3>PACKAGE 2</h3> </li>
        <li>Garden Fresh Delight</li><hr>
        <li>Cheesy Loaded</li><hr>
        <li>Meatilicious</li>
        <li><h2>5000LKR</h2></li>
        <li ><a href="#" class="btn">Buy now ✔</a></li>
      </ul>
    </div>
    
    <div class="columns3">
      <ul class="price">
        <li><h3>PACKAGE 3</h3></li>
        <li>5 Simply Cheese</li><hr>
        <li>5 Choco Lava Cake</li><hr>
        <li>5 Sausage Supreme</li>
        <li><h2>7500LKR</h2></li>
        <li><a href="#" class="button">Buy now ✔</a></li>
      </ul>
    </div>
    
    </body>
</html>